*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin ul-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: url(/images/spot.svg) 0 600px no-repeat,
    url(/images/spot2.svg) 120% 2300px no-repeat;

  @include mediaMd {
    background: url(/images/spot.svg) 0 600px no-repeat / 70%,
      url(/images/spot2.svg) 120% 2300px no-repeat / 70%;
  }
}

.container {
  margin: auto;

  &--about {
    width: 70%;
  }
}

.button--landing {
  padding: 30px 80px;
  background-color: $purple;
  color: #fff;
  font: {
    family: "Poppins", sans-serif;
    weight: bold;
    size: 12px;
  }
  text-transform: uppercase;
  border: none;
  border-radius: 42px;
  outline: none;
  cursor: pointer;
  display: block;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }
}

.section {
  padding: 70px 0;
}
