html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

.wrapper-canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
}

canvas {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header_main {
  background: rgba(255, 255, 255, 0.3);
}

.header__logo {
  font-size: 2em;
  font-weight: 400;
}

.header__link {
  text-decoration: none;
  color: black;
}

.main {
  text-align: center;
  margin-top: 70px;
}

.margin {
  margin: 30px 0px;
}

.main_position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-wrapper {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  width: 60%;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 60px;
}

.main__title {
  text-align: center;
  font-size: 2em;
  font-weight: 550;
}

.main__description {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 30px;
}

.main__input_style {
  margin: 0 auto !important;
  width: 60% !important;
  padding: 10px !important;
  margin-bottom: 15px !important;
  margin-right: 15px !important;
  font-family: "Libre Franklin", sans-serif !important;
  border-radius: 3px !important;
  border: 1px solid #d3d3d3 !important;
}

.main__input-label {
  font-size: 1.1em;
}

.button {
  border: none;
  outline: 0px solid #666;
  text-decoration: none;
  color: white;
  text-transform: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  background-color: #4682b4;
}

.button-log {
  padding: 10px 20px;
  background-color: #4682b4;
  font-size: 17px;
  margin-bottom: 10px;
}

.button-log:hover {
  background-color: #479fe7;
  font-weight: 500;
}

.button-out {
  background-color: darkgray;
  padding: 10px;
  font-size: 14px;
}

.button-out:hover {
  background-color: gray;
}

.table {
  margin: 0 auto;
}

.table-view {
  padding: 0px 30px;
}

@media screen and (max-width: 991px) {
  #join {
    padding-top: inherit;
  }

  #img-div {
    padding-bottom: 1em;
  }
  #img-div img {
    height: 10%;
  }
}

@media screen and (max-width: 440px) {
  .main__title {
    font-size: 1.6em;
  }

  .main__description {
    font-size: 1em;
  }

  .table {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 360px) {
  .table {
    font-size: 0.5em;
  }
}

::-webkit-input-placeholder {
  color: black;
  font-size: 15px;
}
::-moz-placeholder {
  color: black;
  font-size: 15px;
} /* Firefox 19+ */
:-moz-placeholder {
  color: black;
  font-size: 15px;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: black;
  font-size: 15px;
}
